if SHIELD_KINESIS_ADV_LEFT

config ZMK_KEYBOARD_NAME
    default "kinesis_adv"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_KINESIS_ADV_LEFT

if SHIELD_KINESIS_ADV_LEFT || SHIELD_KINESIS_ADV_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_KINESIS_ADV_LEFT || SHIELD_KINESIS_ADV_RIGHT
